@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("root/school.png")
    background-attachment: fixed;
    background-size: 200vh;
    background-position: center;
    background-repeat: no-repeat;

}

.wrapper .title {
    text-align: center;
}

.title h3{
    margin-left: 90px;
    display: inline-flex;
    padding: 20px;
    color: lightyellow;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.2px;
    word-spacing: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    background-color: rgba(0,0,0,0.4);
    text-transform: uppercase;
     -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px); 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    
}
.logo img{
    margin-top: 20px;
    display: inline-block;
    float: right;
    width: 90px;
    height: 90px;
}
.semi p{
    margin-top: 30px;
     color: lightyellow;
     display: inline-block;
     background-color: rgba(0,0,0,0.4);
    padding: 20px;
 }
.wrapper{
    margin-bottom: 40px;
}

.wrapper .teamprofile{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    margin-bottom: 80px;
}
.teamprofile{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;

}

.teamprofile .card{
    position: relative;
    width: 230px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
                inset 0 0 0 1000px rgba(67, 52, 109, .6);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card .members, .members img{
    width: 100%;
    height: 100%;

}

.card .content{
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px); 
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    transition: bottom 0.5s;
    transition-delay: 0.65s;
}

.card:hover .content{
    bottom: 0;
    transition-delay: 0s;
    background-color: rgba(0, 0, 0, 0.3);
}

.content .contented h3 {
    text-transform: uppercase;
    color: lightyellow;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    transition-delay: 0.6s;
    opacity: 0;
    transform: translateY(-20px);
}

.card:hover .content .contented h3{
    opacity: 1;
    transform: translateY(0);
}


.content .contented h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.content .sci{
    position: relative;
    bottom: 10px;
    display: flex;
}

.content .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));
}

.card:hover .content .sci li{
    transform: translateY(0);
    opacity: 1;
}


.content .sci li a{
    color: #fff;
    font-size: 24px;
}
